<div class="row">
	<a href="/veiculos">
		<div class="col-md-3">
			<div class="card card-iconic card-green">
				<div class="card-full-icon ion-android-car"></div>

				<div class="card-body text-left">
					<i class="card-icon ion-android-car"></i>
					<h4>Veículos</h4>
					<p><%= Veiculo.where(usuario_id: current_usuario).count %> Véiculos cadastrados.</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>

	<a href="/abastecimentos">
		<div class="col-md-3">
			<div class="card card-iconic card-indigo">
				<div class="card-full-icon ion-arrow-graph-up-right"></div>

				<div class="card-body">
					<i class="card-icon ion-arrow-graph-up-right"></i>
					<h4>Abastecimentos</h4>
					<p><%= Abastecimento.where(:veiculo_id => Veiculo.where(usuario_id: current_usuario)).count %> Abastecimentos registrados...</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>

	<a href="/despesas">
		<div class="col-md-3">
			<div class="card card-iconic card-grey">
				<div class="card-full-icon ion-clipboard"></div>

				<div class="card-body">
					<i class="card-icon ion-clipboard"></i>
					<h4>Despesas</h4>
					<p><%= Despesa.where(:veiculo_id => Veiculo.where(usuario_id: current_usuario)).count %> despesas registradas...</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>

	<a href="/manutencoes">
		<div class="col-md-3">
			<div class="card card-iconic card-red">
				<div class="card-full-icon ion-hammer"></div>

				<div class="card-body text-right">
					<i class="card-icon ion-hammer"></i>
					<h4>Manutenções</h4>
					<p><%= Manutencao.where(:veiculo_id => Veiculo.where(usuario_id: current_usuario)).count %> manutenções registradas...</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>
</div><!--.row-->

<div class="row">
	<a href="/impostos">
		<div class="col-md-3">
			<div class="card card-iconic card-blue">
				<div class="card-full-icon fa fa-calculator"></div>

				<div class="card-body">
					<i class="card-icon fa fa-calculator"></i>
					<h4>Impostos</h4>
					<p><%= Imposto.where(:veiculo_id => Veiculo.where(usuario_id: current_usuario)).count %> impostos registrados...</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>

	<a href="/relatorios">
		<div class="col-md-3">
			<div class="card card-iconic card-pink">
				<div class="card-full-icon ion-arrow-graph-up-right"></div>

				<div class="card-body">
					<i class="card-icon ion-arrow-graph-up-right"></i>
					<h4>Relatórios</h4>
					<p class="result">Acompanhe os resultados de seus veículos.</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>


	<a href="/relatorios/info">
		<div class="col-md-3">
			<div class="card card-iconic card-purple">
				<div class="card-full-icon ion-document-text"></div>

				<div class="card-body">
					<i class="card-icon ion-document-text"></i>
					<h4>Resumo</h4>
					<p class="result">Veja aqui um resumo dos últimos 90 dias sobre seus veículos.</p>
				</div><!--.card-body-->

			</div><!--.card-->
		</div><!--.col-md-3-->
	</a>

	<a href="/calcflex">
		<div class="col-md-3 col-sm-6">
			<div class="card card-dashboard-info card-orange">
				<div class="card-body">
					<div class="card-icon"><i class="fa fa-calculator"></i></div> 
					<h4>Calculadora Flex</h4>
					<p class="result">Alcool ou Gasolina?</p>
					<small>Calcule aqui qual a melhor opção!</small>
				</div>
			</div> 
		</div> 
	</a>
</div>