<div class="login-screen">
    <div class="panel-login blur-content">
        <div class="panel-heading"><img src="/assets/images/teamfox.png" height="100" alt=""></div><!--.panel-heading-->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <div id="pane-login" class="panel-body active">
              <h2>Editar conta</h2>
              <div class="form-group">
                  <div class="inputer">
                      <div class="input-wrapper">
                          <%= f.text_field :nome, autofocus: true, :placeholder => "Nome" , :class => "form-control camposlogin" %>
                      </div>
                  </div>
              </div><!--.form-group-->
              <div class="form-group">
                  <div class="inputer">
                      <div class="input-wrapper">
                          <%= f.email_field :email, :placeholder => "Email", :class => "form-control camposlogin" %>
                      </div>
                  </div>
              </div><!--.form-group-->

              <div class="form-group">
                  <div class="inputer">
                      <div class="input-wrapper">
                          <%= f.password_field :current_password, autocomplete: "off", type: 'password',:placeholder => "Senha atual", :class => "form-control camposlogin" %>
                      </div>
                  </div>
              </div><!--.form-group-->

              <div class="form-group">
                  <div class="inputer">
                      <div class="input-wrapper">
                          <%= f.password_field :password, autocomplete: "off", type: 'password', :placeholder => "Senha", :class => "form-control camposlogin" %>
                      </div>
                  </div>
              </div><!--.form-group-->
              <div class="form-group">
                  <div class="inputer">
                      <div class="input-wrapper">
                          <%= f.password_field :password_confirmation, autocomplete: "off", type: 'password', :placeholder => "Confirme a senha", :class => "form-control camposlogin" %>
                      </div>
                  </div>
              </div><!--.form-group-->
              <div class="form-buttons clearfix">
                <%= link_to "Back", :back , :class => "btn btn-warning pull-right"%>
                <%= f.submit "Atualizar dados", :class => "btn btn-info pull-right" %>
              </div><!--.form-buttons-->
          </div><!--#login.panel-body-->
        <% end %>
    </div><!--.blur-content-->
</div><!--.login-screen-->