<%= form_for(despesa, :html => { :class => 'form-horizontal' }) do |f| %>
  <% if despesa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(despesa.errors.count, "error") %> prohibited this despesa from being saved:</h2>

      <ul>
      <% despesa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row example-row">
    <div class="col-md-3">Veículo:</div> 
      <div class="col-md-9">
        <%= f.collection_select(:veiculo_id, Veiculo.all, :id, :nome, {prompt: "Selecione"}, {class: 'selectpicker'}) %>
      </div> 
  </div>

  <div class="row example-row">
    <div class="col-md-3">Descrição:</div> 
      <div class="col-md-9">
        <div class="inputer">
            <div class="input-wrapper">
              <%= f.text_field :descricao, class: 'form-control' %>
            </div>
          </div>
      </div> 
  </div>

  <div class="row example-row">
    <div class="col-md-3">Data Despesa:</div> 
      <div class="col-md-9">
       <div class="control-group">
          <div class="controls">
            <div class="input-group">
            <span class="input-group-addon"><i class="ion-android-calendar"></i></span>
            <div class="inputer">
              <div class="input-wrapper">
              <%= f.text_field :despesa_dt, class: 'form-control bootstrap-daterangepicker-basic valid active' %>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div> 
  </div>

  <div class="row example-row">
    <div class="col-md-3">Valor:</div> 
      <div class="col-md-9">
        <div class="inputer">
            <div class="input-wrapper">
              <%= f.text_field :valor, class: 'form-control inputmask inputmask-decimal valid' %>
            </div>
          </div>
      </div> 
  </div>

  <div class="row example-row">
    <div class="col-md-3">Forma de Pagamento:</div> 
      <div class="col-md-9">
        <%= f.collection_select(:formaspagamento_id, Formaspagamento.all, :id, :nome, {prompt: "Selecione"}, {class: 'selectpicker'}) %>
      </div> 
  </div>

  <div class="row example-row">
    <div class="col-md-3">Observações:</div> 
      <div class="col-md-9">
        <div class="inputer">
            <div class="input-wrapper">
              <%= f.text_area :obs, class: 'form-control', rows: '4' %>
            </div>
          </div>
      </div> 
  </div>

  <div class="form-buttons">
    <div class="row">
      <div class="col-md-offset-3 col-md-9">
        <%= f.submit 'Salvar', :class => 'btn btn-blue btn-ripple' %>
        <input type="reset" value="Limpar Campos" class="btn btn-flat btn-danger btn-ripple">
        <a href="<%= despesas_path %>" class="btn btn-flat btn-ripple">Voltar</a>
      </div>
    </div>
  </div>
<% end %>
