<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Cadastro de Veículos</h4>
            <a class="btn btn-floating btn-teal btn-light-green pull-right" href="<%=new_veiculo_path %>">
              <i class="ion-android-add"></i>
            </a>
        </div>
        
      </div><!--.panel-heading-->
      <div class="panel-body">
        <p id="notice"><%= notice %></p>
        <div class="unseen">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Placa</th>
                <th>Usuario</th>
                <th>Marca</th>
                <th>Tiposveiculo</th>
                <th style="width:120px">Ações</th>
            </thead>
            <tbody>
              <% @veiculos.each do |veiculo| %>
                <tr>
                  <td><%= veiculo.id %></td>
                  <td><%= veiculo.nome %></td>
                  <td><%= veiculo.placa %></td>
                  <td><%= Usuario.find(veiculo.usuario).nome %></td>
                  <td><%= Marca.find(veiculo.marca).nome %></td>
                  <td><%= Tiposveiculo.find(veiculo.tiposveiculo).nome %></td>
                  
                  <td align="center">
                    <a href="<%= edit_veiculo_path(veiculo) %>" class="btn btn-default btn-ripple" title="Editar registro">
                      <span class="ion-edit">
                    </a>
                    <a class="btn btn-default btn-red btn-ripple" title="Remover registro" data-toggle="modal" data-target="#deleteModal_<%= veiculo.id %>">
                      <span class="ion-android-delete"></span>
                    </a>
                  </td>
                </tr>
                <div class="modal scale fade" id="deleteModal_<%= veiculo.id %>" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title">Karango WepApp</h4>
                      </div>
                      <div class="modal-body">
                        Deseja realmente excluir este registro?
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-flat btn-ripple" data-dismiss="modal">Não</button>
                        <%= button_to "Sim", veiculo, :method=>:delete, class: 'btn btn-flat btn-danger btn-ripple' %>
                      </div>
                    </div><!--.modal-content-->
                  </div><!--.modal-dialog-->
                </div><!--.modal-->
              <% end %>
            </tbody>
          </table>
        </div><!--.unseen-->
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div>