<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @veiculo.nome %>
</p>

<p>
  <strong>Placa:</strong>
  <%= @veiculo.placa %>
</p>

<p>
  <strong>Usuario:</strong>
  <%= @veiculo.usuario %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @veiculo.marca %>
</p>

<p>
  <strong>Tiposveiculo:</strong>
  <%= @veiculo.tiposveiculo %>
</p>

<%= link_to 'Edit', edit_veiculo_path(@veiculo) %> |
<%= link_to 'Back', veiculos_path %>
