<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Cadastro de Impostos</h4>
            <a class="btn btn-floating btn-teal btn-light-green pull-right" href="<%=new_imposto_path %>">
              <i class="ion-android-add"></i>
            </a>
        </div>
        
      </div><!--.panel-heading-->
      <div class="panel-body">
        <p id="notice"><%= notice %></p>
        <div class="unseen">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Descricao</th>
                <th>Valor</th>
                <th>Vencimento dt</th>
                <th>Pago flag</th>
                <th>Veiculo</th>
                <th style="width:120px">Ações</th>
            </thead>
            <tbody>
              <% @impostos.each do |imposto| %>
                <tr>
                  <td><%= imposto.descricao %></td>
                  <td><%= imposto.valor %></td>
                  <td><%= imposto.vencimento_dt %></td>
                  <td align="center">
                    <% if imposto.pago_flag %>
                      <div class="checkboxer">
                        <input type="checkbox" id="pago_<%= imposto.id %>" checked disabled>
                        <label for="pago_<%= imposto.id %>"></label>
                      </div>
                    <% else %>
                      <div class="checkboxer">
                        <input type="checkbox" id="pago_<%= imposto.id %>" disabled>
                        <label for="pago_<%= imposto.id %>"></label>
                      </div>
                    <% end %>
                  </td>
                  <td><%= imposto.veiculo %></td>
                  
                  <td align="center">
                    <a href="<%= edit_imposto_path(imposto) %>" class="btn btn-default btn-ripple">
                      <span class="ion-edit">
                    </a>
                    <a class="btn btn-default btn-red btn-ripple" title="Remover registro">
                      <span class="ion-android-delete"></span>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div><!--.unseen-->
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div>
