<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @imposto.descricao %>
</p>

<p>
  <strong>Valor:</strong>
  <%= @imposto.valor %>
</p>

<p>
  <strong>Vencimento dt:</strong>
  <%= @imposto.vencimento_dt %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @imposto.obs %>
</p>

<p>
  <strong>Pago flag:</strong>
  <%= @imposto.pago_flag %>
</p>

<p>
  <strong>Formaspagamento:</strong>
  <%= @imposto.formaspagamento %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @imposto.veiculo %>
</p>

<%= link_to 'Edit', edit_imposto_path(@imposto) %> |
<%= link_to 'Back', impostos_path %>
