<%= form_for(manutencao) do |f| %>
  <% if manutencao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(manutencao.errors.count, "error") %> prohibited this manutencao from being saved:</h2>

      <ul>
      <% manutencao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :descricao %>
    <%= f.text_field :descricao %>
  </div>

  <div class="field">
    <%= f.label :odometro %>
    <%= f.number_field :odometro %>
  </div>

  <div class="field">
    <%= f.label :manutencao_dt %>
    <%= f.date_select :manutencao_dt %>
  </div>

  <div class="field">
    <%= f.label :valor %>
    <%= f.text_field :valor %>
  </div>

  <div class="field">
    <%= f.label :validade_dt %>
    <%= f.date_select :validade_dt %>
  </div>

  <div class="field">
    <%= f.label :kmvalidade %>
    <%= f.number_field :kmvalidade %>
  </div>

  <div class="field">
    <%= f.label :obs %>
    <%= f.text_field :obs %>
  </div>

  <div class="field">
    <%= f.label :formaspagamento_id %>
    <%= f.text_field :formaspagamento_id %>
  </div>

  <div class="field">
    <%= f.label :veiculo_id %>
    <%= f.text_field :veiculo_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
