<p id="notice"><%= notice %></p>

<h1>Manutencoes</h1>

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <th>Odometro</th>
      <th>Manutencao dt</th>
      <th>Valor</th>
      <th>Validade dt</th>
      <th>Kmvalidade</th>
      <th>Obs</th>
      <th>Formaspagamento</th>
      <th>Veiculo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @manutencoes.each do |manutencao| %>
      <tr>
        <td><%= manutencao.descricao %></td>
        <td><%= manutencao.odometro %></td>
        <td><%= manutencao.manutencao_dt %></td>
        <td><%= manutencao.valor %></td>
        <td><%= manutencao.validade_dt %></td>
        <td><%= manutencao.kmvalidade %></td>
        <td><%= manutencao.obs %></td>
        <td><%= manutencao.formaspagamento %></td>
        <td><%= manutencao.veiculo %></td>
        <td><%= link_to 'Show', manutencao %></td>
        <td><%= link_to 'Edit', edit_manutencao_path(manutencao) %></td>
        <td><%= link_to 'Destroy', manutencao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Manutencao', new_manutencao_path %>
