<p id="notice"><%= notice %></p>

<p>
  <strong>Abastecimento dt:</strong>
  <%= @abastecimento.abastecimento_dt %>
</p>

<p>
  <strong>Odometro:</strong>
  <%= @abastecimento.odometro %>
</p>

<p>
  <strong>Precolitro:</strong>
  <%= @abastecimento.precolitro %>
</p>

<p>
  <strong>Precototal:</strong>
  <%= @abastecimento.precototal %>
</p>

<p>
  <strong>Obs:</strong>
  <%= @abastecimento.obs %>
</p>

<p>
  <strong>Veiculo:</strong>
  <%= @abastecimento.veiculo %>
</p>

<p>
  <strong>Completou flag:</strong>
  <%= @abastecimento.completou_flag %>
</p>

<p>
  <strong>Combustivel:</strong>
  <%= @abastecimento.combustivel %>
</p>

<p>
  <strong>Formaspagamento:</strong>
  <%= @abastecimento.formaspagamento %>
</p>

<%= link_to 'Edit', edit_abastecimento_path(@abastecimento) %> |
<%= link_to 'Back', abastecimentos_path %>
