<p id="notice"><%= notice %></p>

<h1>Formaspagamentos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formaspagamentos.each do |formaspagamento| %>
      <tr>
        <td><%= formaspagamento.nome %></td>
        <td><%= link_to 'Show', formaspagamento %></td>
        <td><%= link_to 'Edit', edit_formaspagamento_path(formaspagamento) %></td>
        <td><%= link_to 'Destroy', formaspagamento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Formaspagamento', new_formaspagamento_path %>
