<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
        <div class="panel-title">
          <h4>Cadastro de Tipos de Veículos</h4>
            <a class="btn btn-floating btn-teal btn-light-green pull-right" href="<%=new_tiposveiculo_path %>">
              <i class="ion-android-add"></i>
            </a>
        </div>
        
      </div><!--.panel-heading-->
      <div class="panel-body">
        <p id="notice"><%= notice %></p>
        <div class="unseen">
          <table class="table table-bordered table-striped table-condensed">
            <thead>
              <tr>
                <th>Código</th>
                <th>Nome</th>
                <th style="width:120px">Ações</th>
            </thead>
            <tbody>
              <% @tiposveiculos.each do |tiposveiculo| %>
                <tr>
                  <td><%= tiposveiculo.id %></td>
                  <td><%= tiposveiculo.nome %></td>
                  <td align="center">
                    <a href="<%= edit_tiposveiculo_path(tiposveiculo) %>" class="btn btn-default btn-ripple">
                      <span class="ion-edit">
                    </a>
                    <a class="btn btn-default btn-red btn-ripple" title="Remover registro">
                      <span class="ion-android-delete"></span>
                    </a>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div><!--.unseen-->
      </div><!--.panel-body-->
    </div><!--.panel-->
  </div><!--.col-md-12-->
</div>